@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Navbar  */
  .nav-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    height: 24px;
    width: 28px;
  }

  .nav-menu span {
    height: 2px;
    width: 100%;
    background-color: #fff;
  }

  /* Hero section  */
  .hero-section {
    position: relative; /* Establish a positioning context for the pseudo-element */
    min-height: 100vh;
    z-index: 0; /* Ensure the pseudo-element is behind other content */
    overflow: hidden; /* Clip the pseudo-element to the container */
    margin: 0 2rem;
  }

  .hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("heroimg1.jpg");
    background-size: cover;
    background-position: center; /* Uncomment if needed */
    filter: blur(5px);
    z-index: -1; /* Place the blurred background behind other content */
  }

  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or
    (-webkit-clip-path: polygon(0 0)) {
    .hero-section {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      height: 95vh;
    }
  }

  /* Services Section  */
  .services-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;
    margin: 4rem 30rem;
  }

  .card {
    height: 15rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e6c200;
    grid-column: span 3;
    font-size: 1.2rem;
    padding: 5rem;
    box-shadow: 0.7rem 0.7rem 0rem rgb(39, 39, 39);
    border: 4px solid rgb(39, 39, 39);
    gap: 2rem;
  }

  .card p {
    line-height: 2rem;
    display: none;
  }

  .card.active p {
    display: block;
  }

  .card.active {
    grid-column: 1 / span 6;
    grid-row: 1;
    order: 0;
    height: auto;
  }

  .card.is-inactive {
    grid-column: span 2;
  }

  /* About Section */

  /* @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) or
    (-webkit-clip-path: polygon(0 0)) {
    .aboutus {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      height: 95vh;
    }
  } */
  .aboutus {
    background-color: wheat;
    /* -webkit-transform: skewY(-7deg); */
    transform: skewY(-7deg);
    /* padding: 20rem 0; */
    margin: 1rem 2rem 0 2rem;
  }
  .aboutus > * {
    -webkit-transform: skewY(7deg);
    transform: skewY(7deg);
  }
}
